/* RESET */
*{margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;}

/* ESTILIZAÇÃO BASE HEADER*/  

.menu {
    background-color: #BF7AB4;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 3rem;
    margin-bottom: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 2rem;
    box-shadow: 11px 10px 5px #BF8CC2;
    border-bottom-right-radius: 1rem ;
    border-bottom-left-radius: 1rem ;
    color: white;
}

.navigation {
    display: flex;
}

.listNav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.listNav > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    opacity: 50%;
    font-family: 'Montserrat' ;
    font-weight: 400;
    color: white;
}

.navigation li:hover {
    transition: 0.3s ease;
    display: flex;
    border-radius: 3px;
    padding: 3px;
    background-color: #D98032;
    box-shadow: 2px 2px 5px black;

}

#checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  label span{
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: white;
    transition: 0.3s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }


@media only screen and (max-device-width: 900px) {
    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: white;
       
      }
      .menu {
        display: flex;
      }
      .listNav {
        display: none;
      }
      #checkbox-menu:checked ~ .listNav {
        display: flex;
        flex-direction: column;
      }
      .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

}
/* ESTILIZAÇÃO BASE IMAGEM E DESCRIÇÃO */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
    flex-wrap: wrap;
}

.about h2 {
    color:#D98032;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Edu TAS Beginner';
    font-weight: 800;
}

.about p {
    font-family: 'Montserrat';
    max-width: 38rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: justify;
}

.descriptionText select {
    font-family: 'Montserrat';
    font-weight: 500;
    width: 10.5rem;
    margin: 0.5rem;
    font-size: 0.9rem;
}
.descriptionText select:hover {
    transition: 0.3s ease;
    display: inline-block;
    border-radius: 3px;
    background-color: #D98032;
    box-shadow: 2px 2px 5px black
}
.description img {
    width: 320px;
    height: 320px;
    margin: 10px;
    object-fit: cover;
    border-radius: 100% ;
    border-width: 0.1 rem;
    border-color: black;
    border-style: solid;
    border-color: #D98032;
}

.profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImg figcaption{
    color: #D98032;
    font-size: 1.2rem;
    font-weight: 2rem;
}


/* ESTILIZAÇÃO LISTAS */

.lists {
    background-color: #C7D4D9;
    display: flex;
    gap: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Edu TAS Beginner';
    font-size: 1.6rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list h3 {
    color: #D98032;
    margin: 1rem;
    

}
.list ul, ol {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.list li {
    list-style-type: none;
    border-radius: 1rem;
    box-shadow: 11px 10px 5px #ABAABF;
    width: 100px;
    height: 120px;
    background-color: black;
}

.list li img {
    width: 100px;
    height: 120px;
    border-radius: 1rem;
    object-fit: cover;
}
.list.Hobbies h3 {
    text-align: end;
}

.list.Hobbies ul {
    flex-direction: row-reverse;
}

@media only screen and (max-device-width: 900px) {
    .list.Hobbies h3 {
        text-align: start;
    }
    .list.Hobbies ul {
        flex-direction: row;
    }
}



/* ESTILIZAÇÃO FOOTER */



.pagFooter {
    background-color:#BF7AB4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.footerLinks {
    display: flex;
    gap: 1rem;
    
}

.footerLinks img:hover {
    display: flex;
    box-shadow: 2px 2px 5px black
}


.pagFooter img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: flex;
}

.footerButton{
    display: flex;
    text-decoration: none;
}
.footerButton button {
    font-family: 'Montserrat';
    border: none;
    padding: 0.3rem;
    background-color: #bb4ba8;
    border-radius: 0.5rem;
}

.footerButton button:hover {
    background-color: #D98032;
    box-shadow: 2px 2px 5px black

}

@media only screen and (max-device-width: 900px) {
    .pagFooter {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center ;
        gap: 1rem;
    }
}